BASE_URL=https://api.abcz.workers.dev/api/bazardor

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 

BETTER_AUTH_DB_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=