@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-base-100: #FAFCFA;
  --color-base-200: #F0F5F0;
  --color-base-300: #E1E8E1;
  --color-base-content: #1D271F;

  --color-primary-2: #047F39;
  --color-secondary: #7c3aed;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .price-up {
    color: red;
  }

  .text-success {
    color: green;
  }

  .btn-primary-2 {
    @apply bg-primary-2 text-white;
  }
}


